<!--
  Generated template for the TasksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tasks</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-item>
    <ion-input placeholder="To-do" [(ngModel)]="inputTask" clearInput></ion-input>
  </ion-item>
  <button ion-button full (click)="addTask()">Add&nbsp;<ion-icon name="add"></ion-icon></button>
  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks; let i = index;">
      <ion-item>
        {{ task }}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary" class="done" (click)="removeTask(i)"><ion-icon name="checkmark"></ion-icon>Done</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> 
</ion-content>
